{%if (config.tempUnits === "metric") %}
    {% set unit = "c" %}
{% else %}
    {% set unit = "f" %}
{% endif %}

{% if current %}
    {% if not config.onlyTemp %}
        <div class="normal medium">
            <span class="wi wi-strong-wind dimmed"></span>
            <span>
                {% if config.useBeaufort %}
                    {{ current.beaufortWindSpeed() | round }}
                {% else %}
                    {% if config.useKmh %}
                        {{ current.kmhWindSpeed() | round }}
                    {% else %}
                        {{ current.windSpeed | round }}
                    {% endif %}
                {% endif %}
                {% if config.showWindDirection %}
                    <sup>
                        {% if config.showWindDirectionAsArrow %}
                            <i class="fas fa-long-arrow-alt-up" style="transform:rotate({{ current.windDirection }}deg);"></i>
                        {% else %}
                            {{ current.cardinalWindDirection() | translate }}
                        {% endif %}
                        &nbsp;
                    </sup>
                {% endif %}
            </span>
            {% if config.showHumidity and current.humidity %}
                <span>{{ current.humidity | decimalSymbol }}</span><sup>&nbsp;<i class="wi wi-humidity humidityIcon"></i></sup>
            {% endif %}
            {% if config.showSun %}
                <span class="wi dimmed wi-{{ current.nextSunAction() }}"></span>
                <span>
                    {% if current.nextSunAction() === "sunset" %}
                        {{ current.sunset | formatTime }}
                    {% else %}
                        {{ current.sunrise | formatTime }}
                    {% endif %}
                </span>
            {% endif %}
        </div>
    {% endif %}
    <div class="large light">
        <div style="display: flex;flex-direction:row;gap:45px;justify-content:center">
            <div>
                <span class="wi weathericon bright wi-{{current.weatherType}}"></span>
                <span class="bright">
                    {{ current.temperature | roundValue | unit("temperature") | decimalSymbol }}{{unit}}
                </span>
            </div>

            {% if config.showIndoorTemperature and indoor.temperature %}
                <div>
                    <span class="bright wi weathericon wi-thermometer-exterior"></span>
                    <span class="bright">
                        {{ indoor.temperature | roundValue | unit("temperature") | decimalSymbol }}{{unit}}
                    </span>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="normal light indoor">
        {% if config.showIndoorHumidity and indoor.humidity %}
            <div>
                <span class="fas fa-tint"></span>
                <span class="bright">
                    {{ indoor.humidity | roundValue | unit("humidity") | decimalSymbol }}
                </span>
            </div>
        {% endif %}
    </div>
    {% if (config.showFeelsLike or config.showPrecipitationAmount) and not config.onlyTemp %}
        <div class="normal medium feelslike">
            {% if config.showFeelsLike %}
                <span class="bright">
                    Outside feels like: {{current.feelsLike() | roundValue | unit("temperature") | decimalSymbol}}{{unit}}
                </span>
            {% endif %}

            {% if config.showPrecipitationAmount %}
                <span class="bright">
                    {{ "PRECIP" | translate }} {{ current.precipitation | unit("precip") }}
                </span>
            {% endif %}
        </div>
    {% endif %}
{% else %}
    <div class="dimmed light small">
        {{ "LOADING" | translate }}
    </div>
{% endif %}

<!-- Uncomment the line below to see the contents of the `current` object. -->
<!-- <div style="word-wrap:break-word" class="xsmall dimmed">{{current | dump}}</div> -->
